@model FilmOrderMVC5.Models.FilmOrder

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-success">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div>
                        <table class="table table-hover">
                            <tr>
                                <td>Your Name</td>
                                <td class="text-left">@Model.PersonName</td>
                            </tr>
                            <tr>
                                <td>Chosen Film</td>
                                <td class="text-left">@Model.FilmProperty</td>
                            </tr>
                            <tr>
                                <td>Amount of days</td>
                                <td class="text-left">@Model.AmountOfDays</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td class="text-left">@Model.Price</td>
                            </tr>
                        </table>
                    </div>
                    <div class="btn-link btn-lg ">
                        @Html.ActionLink("To Order Form", "Index")
                    </div>
            }
        </div>
    </div>
</body>
</html>




